<div>
  <input [(ngModel)]="searchText" placeholder="Buscar.." class="advancedSearchTextbox">
  <br/>
  <div>
    <th>Asignatura</th>
    <th class="titulo">Promedio</th>
    <th class="titulo">Quimestre 1</th>
    <th class="titulo">Parcial 1</th>
    <th class="titulo">Parcial 2</th>
    <th class="titulo">Parcial 3</th>
    <th class="titulo">Exámen</th>
    <th class="titulo">Quimestre 2</th>
    <th class="titulo">Parcial 1</th>
    <th class="titulo">Parcial 2</th>
    <th class="titulo">Parcial 3</th>
    <th class="titulo">Exámen</th>
  </div>
  <br/>
  <table class="table">
    <tbody>
      <tr *ngFor="let nota of notas | grdFilter: {nombre: searchText}; let i=index;">
        <td>{{nota.nombre}}</td>
        <td>{{nota.promedio_final}}</td>
        <td>{{nota.quimestre_uno}}</td>
        <td>{{nota.qu_parcial_uno}}</td>
        <td>{{nota.qu_parcial_dos}}</td>
        <td>{{nota.qu_parcial_tres}}</td>
        <td>{{nota.qu_examen}}</td>
        <td>{{nota.quimestre_dos}}</td>
        <td>{{nota.qd_parcial_uno}}</td>
        <td>{{nota.qd_parcial_dos}}</td>
        <td>{{nota.qd_parcial_tres}}</td>
        <td>{{nota.qd_examen}}</td>
      </tr>
    </tbody>
  </table>
</div>