<div [@routerTransition]>
    <div class="col-sm-12">
        <span style="font-size: 19px;padding-left: 15px;">ALUMNO >> Información general</span>
        <button (click)="goEdit()" style="float: right;" class="btn btn-info" *ngIf="btnEdit==true"><i class="fa fa-pencil-square-o"></i>&nbsp;Editar</button>
        <button (click)="goSave()" style="float: right;" class="btn btn-success" *ngIf="btnSave==true"><i class="fa fa-lock"></i>&nbsp;Guardar</button>
        <button (click)="goCancel()" style="float: right;" class="btn btn-danger" *ngIf="btnSave==true"><i class="fa fa-times-circle"></i>&nbsp;Cancelar</button>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">Datos del alumno</div>
                <div class="card-body">
                    <ngb-tabset>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-user"></i> &nbsp;<span class="tab-title">General</span></ng-template>
                            <ng-template ngbTabContent>
                                <br>
                                <div class="row">
                                    <label class="col-sm-3">Cédula / Pasaporte</label>
                                    <input type="text" class="form-control col-sm-7" [readonly]="enform" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Nombres</label>
                                    <input type="text" class="form-control col-sm-7" [readonly]="enform" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Apellidos</label>
                                    <input type="text" class="form-control col-sm-7" [readonly]="enform" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Fecha de nacimiento</label>
                                    <input type="date" class="form-control col-sm-7" [readonly]="enform" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Género</label>
                                    <div class="col-sm-7">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" value="option1"
                                                [readonly]="enform">
                                            <label class="form-check-label" for="exampleRadios1">
                                                Masculino
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" value="option1"
                                                [readonly]="enform">
                                            <label class="form-check-label" for="exampleRadios1">
                                                Femenino
                                            </label>
                                        </div>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Dirección domicilio</label>
                                    <textarea class="form-control col-sm-7" rows="3" [readonly]="enform"></textarea>
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Correo electrónico</label>
                                    <input type="email" class="form-control col-sm-7" [readonly]="enform" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Teléfono celular</label>
                                    <input type="text" class="form-control col-sm-7" [readonly]="enform" />
                                </div><br>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-file"></i> &nbsp;<span class="tab-title">Adicional</span></ng-template>
                            <ng-template ngbTabContent>
                                <br>
                                <div class="row">
                                    <label class="col-sm-3">Nacionalidad</label>
                                    <select class="form-control col-sm-7" [disabled]="enform">
                                        <option value="" selected>Seleccione</option>
                                        <option [ngValue]="country" *ngFor="let country of countries">{{country.name}}</option>
                                    </select>
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Lugar de nacimiento</label>
                                    <input type="text" class="form-control col-sm-7" [readonly]="enform" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Tipo de vivienda</label>
                                    <div class="col-sm-7">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" value="option1"
                                                [readonly]="enform">
                                            <label class="form-check-label" for="exampleRadios1">
                                                Propia
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" value="option1"
                                                [readonly]="enform">
                                            <label class="form-check-label" for="exampleRadios1">
                                                Arrendada
                                            </label>
                                        </div>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Institución anterior</label>
                                    <input type="text" class="form-control col-sm-7" />
                                </div><br>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-home"></i> &nbsp;<span class="tab-title">Familiares</span></ng-template>
                            <ng-template ngbTabContent>
                                <br>
                                <div class="row">
                                    <label class="col-sm-3">Hermanos</label>
                                    <input type="text" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Hermanas</label>
                                    <input type="text" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Posición que ocupa</label>
                                    <input type="text" class="form-control col-sm-7" />
                                </div><br>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-medkit"></i> &nbsp;<span class="tab-title">Ficha
                                    Médica</span></ng-template>
                            <ng-template ngbTabContent>
                                <br>
                                <div class="row">
                                    <label class="col-sm-3">Altura</label>
                                    <input type="text" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Peso</label>
                                    <input type="text" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row"> 
                                    <label class="col-sm-3">Tipo de sangre</label>
                                    <select class="form-control col-sm-7" [disabled]="enform">  
                                        <option value="" selected>Seleccione</option>   
                                        <option [ngValue]="blood" *ngFor="let blood of bloods">{{blood.name}}</option>
                                    </select>   
                                </div><br>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-graduation-cap"></i> &nbsp;<span class="tab-title">Curso
                                    actual</span></ng-template>
                            <ng-template ngbTabContent>
                                <br>
                                <div class="row">
                                    <label class="col-sm-3">Curso</label>
                                    <input type="text" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Paralelo</label>
                                    <input type="text" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Inscrito</label>
                                    <input type="text" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Matriculado</label>
                                    <input type="text" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Fecha de matriculación</label>
                                    <input type="text" class="form-control col-sm-7" />
                                </div><br>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <img [src]="url" height="250px" width="230px"> <br />
            <input type="file" class="form-control-file" id="exampleInputFile" (onchange)="onSelectimagen($event)">
        </div>
    </div>
</div>
