<div [@routerTransition]>
    <div class="col-sm-12">
        <span style="font-size: 19px;padding-left: 15px;">FAMILIAR >> Información general</span>
        <button (click)="goEdit()" style="float: right;" class="btn btn-info" *ngIf="btnEdit==true"><i
                class="fa fa-pencil-square-o"></i>&nbsp;Editar</button>
        <button (click)="goSave()" style="float: right;" class="btn btn-success" *ngIf="btnSave==true"><i
                class="fa fa-lock"></i>&nbsp;Guardar</button>
        <button (click)="goCancel()" style="float: right;" class="btn btn-danger" *ngIf="btnSave==true"><i
                class="fa fa-times-circle"></i>&nbsp;Cancelar</button>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">Datos del familiar</div>
                <div class="card-body">
                    <ngb-tabset>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-user"></i> &nbsp;<span
                                    class="tab-title">General</span></ng-template>
                            <ng-template ngbTabContent>
                                <br>
                                <div class="row">
                                    <label class="col-sm-3">Cédula / Pasaporte</label>
                                    <input type="text" [(ngModel)]="usuario.usua_iden" class="form-control col-sm-7"
                                        [readonly]="enform" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Nombres</label>
                                    <input type="text" [(ngModel)]="usuario.usua_nomb" class="form-control col-sm-7"
                                        [readonly]="enform" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Apellidos</label>
                                    <input type="text" [(ngModel)]="usuario.usua_apell" class="form-control col-sm-7"
                                        [readonly]="enform" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Fecha de nacimiento</label>
                                    <input type="date" [(ngModel)]="usuario.usua_fechnaci" class="form-control col-sm-7"
                                        [readonly]="enform" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Correo electrónico</label>
                                    <input type="email" [(ngModel)]="usuario.usua_email" class="form-control col-sm-7"
                                        [readonly]="enform" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Teléfono celular</label>
                                    <input type="text" [(ngModel)]="usuario.usua_celu" class="form-control col-sm-7"
                                        [readonly]="enform" />
                                </div><br>
                                <div class="row">            
                                    <label class="col-sm-3">Proveedor celular</label>
                                    <input type="text" [(ngModel)]="usuario.usua_prov" class="form-control col-sm-7"
                                        [readonly]="enform" />
                                </div><br>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-file"></i> &nbsp;<span
                                    class="tab-title">Adicional</span></ng-template>
                            <ng-template ngbTabContent>
                                <br>
                                <div class="row">
                                    <label class="col-sm-3">Nacionalidad</label>
                                    <input type="text" [(ngModel)]="usuario.usua_naci" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Lugar de nacimiento</label>
                                    <input type="text" [(ngModel)]="usuario.usua_lugnaci" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Estado civil</label>
                                    <input type="text" [(ngModel)]="usuario.usua_civil" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Nivel de educación</label>
                                    <input type="text" [(ngModel)]="usuario.usua_niveeduc" class="form-control col-sm-7" />
                                </div><br>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-home"></i> &nbsp;<span
                                    class="tab-title">Domicilio</span></ng-template>
                            <ng-template ngbTabContent>
                                <br>
                                <div class="row">
                                    <label class="col-sm-3">Dirección domicilio</label>
                                    <textarea [(ngModel)]="usuario.usua_diredomi" class="form-control col-sm-7"
                                        rows="3"></textarea>
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Teléfono domicilio</label>
                                    <input type="text" [(ngModel)]="usuario.usua_teledomi" class="form-control col-sm-7" />
                                </div><br>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-briefcase"></i> &nbsp;<span
                                    class="tab-title">Profesional</span></ng-template>
                            <ng-template ngbTabContent>
                                <br>
                                <div class="row">
                                    <label class="col-sm-3">Profesión</label>
                                    <input type="text" [(ngModel)]="usuario.usua_profe" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Ocupación</label>
                                    <input type="text" [(ngModel)]="usuario.usua_ocup" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Empresa u oficina</label>
                                    <input type="text" [(ngModel)]="usuario.usua_emprtrab" class="form-control col-sm-7" />
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Dirección trabajo</label>
                                    <textarea [(ngModel)]="usuario.usua_diretrab" class="form-control col-sm-7"
                                        rows="3"></textarea>
                                </div><br>
                                <div class="row">
                                    <label class="col-sm-3">Teléfono trabajo</label>
                                    <input type="text" [(ngModel)]="usuario.usua_teletrab" class="form-control col-sm-7" />
                                </div><br>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle><i class="fa fa-users"></i> &nbsp;<span
                                    class="tab-title">Estudiantes</span></ng-template>
                            <ng-template ngbTabContent>
                                <br>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Estudiante</th>
                                            <th>Correo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Martina Merino</td>
                                            <td>marty@hotmail.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <img [src]="url" height="250px" width="230px"> <br />
            <input type="file" class="form-control-file" id="exampleInputFile" (onchange)="onSelectimagen($event)">
        </div>
    </div>
</div>