<div [@routerTransition]>
    <p>Resumen del año >> Información General</p>
    <hr>
    <div class="row mt-3">
        <div class="col-sm-9">
            <button type="button" class="btn btn-primary" style="width: 100%" disabled>Nombre Usuario</button>
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <table class="table tbl-summary">
                        <tbody>
                            <tr>
                                <td><span class="lbl-detalle">Curso</span></td>
                                <td>{{promedio?.curso}}</td>
                            </tr>
                            <tr>
                                <td><span class="lbl-detalle">Paralelo</span></td>
                                <td>{{promedio?.paralelo}}</td>
                            </tr>
                            <tr>
                                <td><span class="lbl-detalle">Tutor</span></td>
                                <td>{{promedio?.tutor}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table tbl-summary">
                        <tbody>
                            <tr>
                                <td><span class="lbl">{{promedio.promedio}}<br><label>Promedio</label></span></td>
                                <td><span class="lbl">{{promedio.faltas}}<br><label>Faltas</label></span></td>
                                <td><span class="lbl">{{promedio.comportamiento}}<br><label>Comportamiento</label>
                                    </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <img [src]="url" height="250px" width="230px">
        </div>
    </div>
    <br>

    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" style="width: 100%" disabled>
            {{seleparcial?.descripcion}}
        </button>
    </div>
    <br>
    <div class="col-sm-12">
        <table>
            <tbody>  
                <tr>
                    <td *ngFor="let parcial of parciales" class="parcial">
                        <button class="btn btn-success btn-parcial" *ngIf="parcial.estado=='1'" (click)="getInformacion(parcial)">
                            <i class="fa fa-check-circle-o"></i>
                        </button>
                        <button class="btn btn-warning btn-parcial" *ngIf="parcial.estado=='0'" disabled>
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <br>
                        <div class="desc">{{parcial.descripcion}}</div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <br>
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <th>Materia</th>
                <th>Docente</th>
                <th>Promedio</th>
                <th>Faltas</th>
                <th>Comportamiento</th>
            </thead>
            <tbody *ngFor="let materia of materias">
                <tr>
                    <td>{{materia.materia}}</td>
                    <td>{{materia.docente}}</td>
                    <td>{{materia.calificacion}}</td>
                    <td>{{materia.faltas}}</td>
                    <td>{{materia.comportamiento}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
